.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 12px;
  margin-bottom: 36px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: gray;
  letter-spacing: 1px;
}

.userInfoName {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 6px;
}

.userImage {
  width: 200px;
  height: auto;
  border-radius: 50%;
  background-color: black;
  margin-bottom: 12px;
}

.userStats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  border-top: 2px solid gray;
}

.userStatsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 18px;
}

.userStatsItem:not(:last-child) {
  border-right: 2px solid gray;
}

.statsCount {
  font-weight: bold;
  color: black;
}
